.header {
    background: rgb(63, 63, 94);
    overflow: hidden;
}

.header .logo h1 img {
    width: 80px;
}

.header .top-btn ul {
    margin-top: 5px;
}

.header .top-btn ul li a {
    padding: 13px 5px;
}

.header .top-btn ul li a {
    font-size: 12px;
}

.header .logo h1 {
    padding: 5px 10px;
}